<div class="row">
    <div class="col-md-12">
        <div class="text-center">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid obcaecati eaque harum quidem sapiente, vel laboriosam cumque, doloremque laudantium nemo eligendi sunt voluptas, exercitationem expedita alias sequi ipsa temporibus saepe vero quibusdam architecto. Magni repudiandae, laboriosam voluptate doloremque consequuntur itaque amet! Quibusdam accusantium voluptas corrupti molestiae ab tempora dolor, maxime quia beatae voluptatem omnis corporis velit numquam suscipit quam adipisci temporibus iure quos vel. At, ipsum incidunt quis quos vero, similique culpa quasi ab expedita harum fugiat aliquid perferendis commodi delectus magni nihil eius assumenda fuga odio placeat nesciunt. Beatae magni dolorem doloremque iusto inventore quaerat cupiditate, odit enim praesentium.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <router-outlet name="map"></router-outlet>
    </div>
    <div class="col-md-6">
        <router-outlet name="feeds"></router-outlet>
    </div>
</div>
